* {
  margin: 0;
  padding: 0;
}

body {
  width: 80%;
  margin: 2rem auto;
}

header {
  text-align: left;
  align-content: flex-start;
  margin-bottom: 2rem;
}

li {
  list-style-type: none;
  margin-bottom: 1rem;
}

ul.contact {
  display: flex;
  flex-direction: row
}


li.conli {
  margin-bottom: 1rem;
  margin-right: auto;
  font-weight: bold;
}

p {
  line-height: 1.5rem;
}


hr {
  color: grey;
  margin-bottom: 1rem;
}

h3 {
  text-transform: uppercase;
  letter-spacing: 3px;
}

.block {
  margin-bottom: 3rem;
}

/*.workcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1fr)
}

.grid-item1 {
  grid-column: 1 / span 1;
  grid-row: 1 /span 1;
}

.grid-item2 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
} */

.summary {
  margin-bottom: 2rem;
}

.languages {
  text-align: center
}
